* {
    margin-top: 0px;
}

hr {
    opacity: 1;
    border-style: inset;
    border-width: 1px;
}

header {
    padding: 0;
    margin-top: 0px;
    background-color: #5b295c;
    margin-bottom: 0;
}

menu {
    background-color: #994377;
    margin-bottom: 0;
}

body {
    background-color: #4818A6;
    font-family: sans-serif;
    margin: 0;
}

.app {
    background-color: #4818A6;
    font-family: sans-serif;
    margin: 0;
}
p {
    color: #FFFFFF;
}
span {
    color: #FFFFFF;
}
li {
    color: #FFFFFF;
}
h1 {
    color: #3388ff;
    font-size: 400%;
    text-align: center;
    animation-name: demo;
    animation-duration: 2s;
    height: 125px;
    margin-bottom: 0px;
    display: grid;
    place-items: center;
}

h2 {
    color: #3388ff;
    font-size: 300%;
    text-align: center;
    margin-bottom: 5px;

}
a {
    color: #FFFF00
}

@keyframes demo {
    from{
        font-size: 0%;
    }

    80%{
        font-size: 405%;
    }
    to{
        font-size: 400%;
    }
}

#navigator {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-option {
    flex: 1;
    text-align: center;
    display: grid;
    place-items: center;
    border-color: #000000;
    border: 2px solid #333333;
    height: 45.5px;
    font-size: 150%;
    background-color: #993477;
    border-bottom: 3px solid #FFFFFF;
}

.nav-option:hover {
    background-color: #a14683;
}

#navigator-nav {
    align-items: center;
    padding: 0px;
    height: 45.5 px;
}

#sellout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

#sellout-kid {
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    height: 100px;
    width: 150px;
}

.sellout-section {
    flex: 1;
    display: grid;
    align-items: center;
    background-color: #DDDDDD;
    color: #333333;
    text-align: center;
}

.sellout-section a {
    color: #000000;
}

#git {
    flex: 1;
    display: grid;
    align-items: center;
    border-top: 2px solid white;
}

#login-span {
    padding: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FF00FF
}

#login-box {
    display:flex;
    flex-direction: column;
    height:500px;
    width:400px;
    background-color: white;
}

#login-text {
    font-size: 400%;
    color: #FF00FF;
    flex: 4;
}

#username {
    flex: 1;
}

#password {
    flex: 1;
}

.login-type {
    font-size: 200%;
    color: #880088;
    flex: 2;
}

#email-input {
    width: 250px;
    height: 50px;
    font-size: 18pt;
}

#password-input {
    width: 250px;
    height: 50px;
    font-size: 18pt;
}

#submission-zone {
    display: flex;
    align-items: center;
    padding: 30px;
    flex: 1;
}
#submission-zone button {
    flex: 5;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    font-size: 18pt;
}

#submission-zone span {
    flex: 1;
}

#posts-div {
    display: flex;
    flex-direction: row;
    align-items: row;
}

#posts-div .side {
    flex: 1;
}

#posts-column {
    flex: 4;
    display: flex;
    flex-direction: column;

}

.post {
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #d923c0;
    margin: 20px;
}

.user {
    padding-left: 10px;
    font-size: 15pt;
}

.post-text {
    padding: 20px;
}

.post-pic-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-pic {
    height: 200px;
}

.post-pic-div span {
    flex:1;
    text-align: center;
}

.onlinicity {
    color: #3388ff;
    font-size: 250%;
    text-align: center;
    margin-bottom: 7px;
}

.list-of-friends {
    color:#FF00FF;
    text-align: center;
    font-size: 175%;
    display:flex;
    flex-direction: column;
}
.friend {
    color:#FF00FF;
}

#summary-div {
    display: flex;
    flex-direction: columns;
}

.summary-margin {
    flex: 1;
}

#summary {
    flex:7;
}