* {
    margin-top: 0;
}

header {
    padding: 0;
    margin-top: 0;
    border-radius: 0;
    background-color: #332288;
}

body {
    background-color: #6644FF;
    font-family: sans-serif;
    border-radius: 0;
    margin: 0;
}
p {
    color: #FFFFFF;
}
span {
    color: #FFFFFF;
}
li {
    color: #FFFFFF;
}
h1 {
    color: #FFFFFF;
}
h2 {
    color: #FFFFFF
}
a {
    color: #FFFF00
}
.post {
    width: 500px;
    height: 300px;
    background-color: #d923c0;
}