* {
    margin-top: 0;
}

header {
    padding: 0;
    margin-top: 0px;
    /* border-radius: 0; */
    background-color: #5b295c;
    margin-bottom: 0;
}

menu {
    background-color: #994377;
    margin-bottom: 0;
}


body {
    background-color: #4818A6;
    font-family: sans-serif;
    /* border-radius: 0; */
    margin: 0;
}
p {
    color: #FFFFFF;
}
span {
    color: #FFFFFF;
}
li {
    color: #FFFFFF;
}
h1 {
    color: #3388ff;
    font-size: 400%;
    text-align: center;
    animation-name: demo;
    animation-duration: 2s;
    height: 125px;
    margin-bottom: 0px;
    display: grid;
    place-items: center;
}

h2 {
    color: #FFFFFF;
    font-size: 200%;
}
a {
    color: #FFFF00
}
.post {
    width: 500px;
    height: 300px;
    background-color: #d923c0;
}

@keyframes demo {
    from{
        font-size: 0%;
    }

    80%{
        font-size: 405%;
    }
    to{
        font-size: 400%;
    }
}

#navigator {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-option {
    flex: 1;
    text-align: center;
    display: grid;
    place-items: center;
    border-color: #000000;
    border: 2px solid #333333;
    height: 45.5px;
    font-size: 150%;
    background-color: #993477;
    border-bottom: 3px solid #FFFFFF;
}

.nav-option:hover {
    background-color: #a14683;
}

#navigator-nav {
    align-items: center;
    padding: 0px;
    height: 45.5 px;
}

#sellout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

#sellout-kid {
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    height: 100px;
    width: 150px;
}

.sellout-section {
    flex: 1;
    display: grid;
    align-items: center;
    background-color: #DDDDDD;
    color: #333333;
    text-align: center;
}

.sellout-section a {
    color: #000000;
}

#git {
    flex: 1;
    display: grid;
    align-items: center;
    border-top: 2px solid white;
}