body {
    background-color: #6644FF;
}
p {
    color: #FFFFFF;
}
span {
    color: #FFFFFF;
}
li {
    color: #FFFFFF;
}
h1 {
    color: #FFFFFF;
}
h2 {
    color: #FFFFFF
}
a {
    color: #FFFF00
}
.post {
    width: 500px;
    height: 300px;
    background-color: #d923c0;
}